/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  padding: 20px;
   background-color: blueviolet;
}

h1, h2 {
  color: #222;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
}

nav {
  background: #0077cc;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 20px;
}
nav a {
  color: white;
  margin-right: 15px;
  font-weight: bold;
  text-decoration: none;
}
nav a:hover {
  color: yellow;
}

